@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont-subset.ttf') format('truetype');
}

body, html {
    padding:0;margin:0;
}

/* make sure the video is fullscreen */
.video-skin {
    position:absolute;
    left:0;
    top:0;
    background-color:black;
    width:100%;
    height:100%;
}

.video-skin video {
    width:inherit;
    height:inherit;
}

.video-skin.pause::before {
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    /*background-color:black;*/
    opacity:0.2;
}

.video-skin progress {
    position:absolute;
    bottom:80px;
    width:90%;
    height:20px;
    left:5%;
    right:5%;
    background-color:transparent;
    -webkit-appearance: none;
    display:none;
}

.video-skin.show-progress progress {
    display:block;
    opacity:1;  
}

.video-skin progress::-webkit-progress-bar,
.video-skin progress .progress-bar {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
    height:inherit;
}

.video-skin progress::-webkit-progress-value,
.video-skin progress .progress-value {
    background-color:lightcyan;
    border-radius: 2px; 
    height:inherit;
}

.video-skin::after {
    font-family:helvetica, sans-serif;
    position:absolute;
    color:white;
    opacity:1;
}

.video-skin.resume::after,
.video-skin.resume.show-progress progress {
    opacity:0;
    -webkit-transition:opacity 3s;
}

.video-skin.pause::after {
    font-family: "FontAwesome", sans-serif;
    line-height: 300px;
    top:30%;
    width:100%;
    content:"\f04c";
    font-size:200px;
    text-align: center;
}

.video-skin.forward::after,
.video-skin.backward::after {
    font-family: "FontAwesome", sans-serif;
    content:attr(data-speed) "x \f04e";
    font-size:50px;
    text-align: right;
    right:80px;
    top:70%;
}

.video-skin.backward::after {
    content:attr(data-speed) "x  \f04a" ;
}

#error-dialog {
    width:100%;
    height:100%;
    text-align:center;
    position:absolute;
    top:0;
    left:0;
}

#error-dialog p {
    font-family:helvetica, sans-serif;
    font-size:30px;
    color:red;
}
